html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel {
  overflow: hidden;
  max-height: 100vh;
}

.inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.carousel-item {
}
